<mat-sidenav-container class="container-fluid" style="height: 80%;padding-left: 0%;">

    <mat-sidenav mode="side" opened class=" flex-shrink-0 p-3 text-white bg-dark " style="width: 280px ;">

        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <img src="assets/img/BookStore.png" style="width: 60px;height: 60px;">
            <svg class="bi me-2" width="40" height="32"></svg>
            <span class="fs-4">Menu</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a routerLink="" class="nav-link active" aria-current="page">
                    <i class="material-icons" style="padding-right: .6rem;">home</i> Home
                </a>
            </li>
            <li>
                <a routerLink="/categorias" class="nav-link text-white">
                    <i class="material-icons" style="padding-right: .6rem;">menu_book</i> Categorias
                </a>
            </li>

        </ul>
        <hr>


    </mat-sidenav>
    <mat-sidenav-content class="content bg-dark">

        <router-outlet></router-outlet>

    </mat-sidenav-content>
</mat-sidenav-container>